<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <h1>Article_detail</h1>
    <div class="card">
        <div class="card-header">
            Article
        </div>
        <div class="card-body">
            <h5 class="card-title" th:text="${article.subject}"></h5>
            <p class="card-text" th:text="${article.content}"></p>
            <div class="my-3">
                <a th:href="@{|/article/modify/${article.id}|}" class="btn btn-dark"
                   sec:authorize="isAuthenticated()"
                   th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
                   >Article 수정</a>
            </div>
            <a href="/article/list" class="btn btn-primary">Article 목록</a>
            <br>
            <div class="my-3">
            <a th:href="@{|/article/delete/${article.id}|}" class="btn btn-danger"
               th:if="${article.author != null and #authentication.getPrincipal().getUsername() ==
               article.author.username}">Article 삭제</a>
            </div>
        </div>
    </div>
</div>
</html>