<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <h1>Article_Create</h1>
    <form th:action="@{|/article/create|}" method="post">
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input type="text" class="form-control" name = "subject" id="subject">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" name = "content" id="content" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary"> 등록</button>
    </form>

</div>
</html>