<html layout:decorate="~{layout}">
<div layout:fragment="content">

    <h1>로그인</h1>
    <form th:action="@{|/user/login|}" method="post">
        <div class="mb-3">
            <label for="userId" class="form-label">유저ID</label>
            <input type="text" class="form-control" name="userId" id="userId">
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">비밀번호</label>
            <input type="password" class="form-control" name="password1" id="password1">
        </div>
        <button type="submit" class="btn btn-success"> 로그인</button>
    </form>

</div>
</html>